{% extends "layout.html" %}

{% block title %}SOC Plot Prototypes{% endblock %}

{% block content %}
    <div class="row">
	    <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <p>
                Sorry, the page you requested was not found. 
                <br><br>
                Please check the URL for proper spelling and capitalization. If you are having trouble finding a study, 
                try to search through the list of <a href="{{ url_for('socapp.index') }}"><b>available SOC studies</b></a>.
            </p>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}
