{% extends "layout.html" %}

{% block title %}Study {{ study.curated_study_number }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="section-header-1 text-center" id="recist-categories">
    <b>STUDY SUMMARY</b>
</div>

<br />

<div class="row">
    <div class="clearfix">
	    <div class="col-xs-0 col-sm-0 col-md-2">&nbsp;</div>
	    <!-- RECIST table -->
        <div class="col-xs-12 col-sm-12 col-md-8">
            {% if study.curated_study_legend != "" %}
            {{ study.curated_study_legend }}
            <hr />
			{% endif %} 
            <h4>Study RECIST Classification</h4>
            <div id="recist-info-panel" class="text-left"></div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2">&nbsp;</div>
    </div>
	<div class="col-xs-0 col-sm-0 col-md-2">&nbsp;</div>
	<!-- waterfall plot thumbnail -->
	<div class="col-xs-6 col-sm-3 col-md-2 white-smoke-bg text-center">
        <br>
		<div class="thumbnail plot-buttons">
            <br><br>
            <div>
                <a href="#waterfall-plot" class="div-fill">Waterfall<br>Plot</a>
            </div>
        </div>
    </div>

	<!-- treatment groups plot thumbnail -->
    <div class="col-xs-6 col-sm-3 col-md-2 white-smoke-bg text-center">
        <br>
        <div class="thumbnail plot-buttons">
            <br><br>
            <div>
                <a href="#treatment-group-plot" class="div-fill">Treatment<br>Groups</a>
            </div>
        </div>
    </div>

	<!-- spider plot thumbnail -->
    <div class="col-xs-6 col-sm-3 col-md-2 white-smoke-bg text-center">
        <br>
        <div class="thumbnail plot-buttons">
            <br><br>
            <div>
                <a href="#spider-plot" class="div-fill">Spider<br>Plot</a>
            </div>
        </div>
    </div>

	<!-- TGI plot thumbnail -->
    <div class="col-xs-6 col-sm-3 col-md-2 white-smoke-bg text-center">
        <br>
        <div class="thumbnail plot-buttons">
            <br><br>
            <div>
                <a href="#tgi-plot" class="div-fill">TGI<br>Plot</a>
            </div>
        </div>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2"></div>
</div>

<br />

<div class="section-header-1 text-center" name="waterfall-plot">
    <b>WATERFALL</b>
</div>

<br />

<form class="form-inline">
    <div class="form-group">
        <label for="waterfall-change-type-select">Y Axis: </label>
        <select id="waterfall-change-type-select" type="text" class="form-control">
            <option value="rel-vol">Volume Percentage Change</option>
            <option value="rel-change">Fold Change in Volume (currentSize - day1Size) / day1Size</option>
        </select>
    </div>
</form>

<div id="waterfall-plot" class="plot-container" style="height: 600px"></div>

<div class="section-header-1 text-center" name="treatment-group-plot">
    <b>TREATMENT GROUPS</b>
</div>

<br>

<form class="form-inline">
    <div class="form-group">
        <label for="treatment-group-change-type-select">Y Axis: </label>
        <select id="treatment-group-change-type-select" type="text" class="form-control">
            <option value="abs-vol">Absolute Volume</option>
            <option value="rel-change">Fold Change in Volume (currentSize - day1Size) / day1Size</option>
        </select>
    </div>
</form>

<div id="treatment-group-plot" class="plot-container" style="height: 600px"></div>

<div class="section-header-1 text-center" name="spider-plot">
    <b>SPIDER</b>
</div>
<br>
<div id="spider-plot" class="plot-container" style="height: 600px;"></div>
<br>
<div class="section-header-1 text-center" name="tgi-plot">
    <b>TGI (TUMOR GROWTH INHIBITION)</b>
</div>
<br>
<div id="tgi-plot" class="plot-container" style="height: 600px;"></div>

<script>
    $(function() {
        var params = {
            study: {{ study|tojson }},
            treatments: {{ treatments|tojson }},
            measurements: {{ measurements|tojson }},
            animals: {{ animals|tojson }},
            groupLabels: {{ group_labels|tojson }}
        };

        socstudy.initStudyData(params);
    });
</script>
{% endblock %}
