{% extends "layout.html" %}

{% block title %}Study {{ study.curated_study_number }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-header-1 text-left" id="recist-categories">
                        &nbsp;&nbsp;<b>STUDY SUMMARY</b>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 white-smoke-bg text-justify">    
                    <h4>{{ study.site }} Cancer Model: {{ study.curated_study_number }}</h4>
                    <h5>{% if study.curated_study_legend != "" %}
                        {{ study.curated_study_legend }}
                    {% endif %}</h5>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2">&nbsp;</div>

                <!-- treatment groups plot thumbnail -->
                <div class="col-xs-6 col-sm-3 col-md-2 white-smoke-bg text-center">
                    <br>
                    <div class="thumbnail plot-buttons">
                        <br><br>
                        <div> 
                            <a href="#treatment-group-plot" class="div-fill">Treatment<br>Groups</a>
                        </div>
                    </div>
                </div>

                <!-- spider plot thumbnail -->
                <div class="col-xs-6 col-sm-3 col-md-2 white-smoke-bg text-center">
                    <br>
                    <div class="thumbnail plot-buttons">
                        <br><br>
                        <div>
                            <a href="#spider-plot" class="div-fill">Spider<br>Plot</a>
                        </div>
                    </div>
                </div>

                <!-- waterfall plot thumbnail -->
                <div class="col-xs-6 col-sm-3 col-md-2 white-smoke-bg text-center">
                    <br>
                    <div class="thumbnail plot-buttons">
                        <br><br>
                        <div>
                            <a href="#waterfall-plot" class="div-fill">Waterfall<br>Plot</a>
                        </div>
                    </div>
                </div>

                <!-- TGI plot thumbnail -->
                <div class="col-xs-6 col-sm-3 col-md-2 white-smoke-bg text-center">
                    <br>
                    <div class="thumbnail plot-buttons">
                        <br><br>
                        <div>
                            <a href="#tgi-plot" class="div-fill">TGI<br>Plot</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
            </div> <!-- END THUMBNAIL SECTION -->
            <br>

            <div class="section-header-1 text-left" name="treatment-group-plot">
                &nbsp;&nbsp;<b>TREATMENT GROUPS PLOT</b>&nbsp;&nbsp;
                <a href="http://tumor.informatics.jax.org/mtbwi/live/www/html/SOCHelp.html#treatmentGroup" target="_blank" class="white-smoke">
                    <span class="glyphicon glyphicon-question-sign faq-glyphicon" aria-hidden="true"></span>
                </a>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 text-right white-smoke-bg" style="padding: 10px; 0">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="treatment-group-change-type-select">Y Axis: </label>
                            <select id="treatment-group-change-type-select" type="text" class="form-control">
                                <option value="abs-vol">Absolute Volume</option>
                                <option value="rel-change">Fold Change in Volume (currentSize - day1Size) / day1Size</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Download plot as a png" aria-label="Left Align">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Zoom in" aria-label="Left Align">
                                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Zoom out" aria-label="Left Align">
                                <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Reset axes" aria-label="Left Align">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
            </div>

            <div id="treatment-group-plot" class="plot-container" style="height: 600px"></div>

            <div class="section-header-1 text-left" name="spider-plot">
                &nbsp;&nbsp;<b>SPIDER PLOT</b>&nbsp;&nbsp;
                <a href="http://tumor.informatics.jax.org/mtbwi/live/www/html/SOCHelp.html#spiderPlot" target="_blank" class="white-smoke">
                    <span class="glyphicon glyphicon-question-sign faq-glyphicon" aria-hidden="true"></span>
                </a>
            </div>
            <br>
			<div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 text-right white-smoke-bg" style="padding: 10px; 0">
                    <form class="form-inline">
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Download plot as a png" aria-label="Left Align">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Zoom in" aria-label="Left Align">
                                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Zoom out" aria-label="Left Align">
                                <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Reset axes" aria-label="Left Align">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
            </div>
            <div id="spider-plot" class="plot-container" style="height: 600px;"></div>

            <div class="section-header-1 text-left" name="waterfall-plot">
                &nbsp;&nbsp;<b>WATERFALL PLOT</b>
                &nbsp;&nbsp;
                <a href="http://tumor.informatics.jax.org/mtbwi/live/www/html/SOCHelp.html##waterfallPlot" target="_blank" class="white-smoke">
                    <span class="glyphicon glyphicon-question-sign faq-glyphicon" aria-hidden="true"></span>
                </a>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
                <!-- RECIST table -->
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <h4 style="display:inline;">Study RECIST Classification</h4>
                    &nbsp;&nbsp;
                    <a href="http://tumor.informatics.jax.org/mtbwi/live/www/html/SOCHelp.html#recist" target="_blank" class="dark-cerulean">
                        <span class="glyphicon glyphicon-question-sign faq-glyphicon" aria-hidden="true"></span>
                    </a>

                    <div id="recist-info-panel" class="text-left" style="margin-top: 10px;"></div>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2">&nbsp;</div>
            </div>
            <br><br>
             <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 text-right white-smoke-bg" style="padding: 10px; 0">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="waterfall-change-type-select">Y Axis: </label>
                    <select id="waterfall-change-type-select" type="text" class="form-control">
                        <option value="rel-vol">Volume Percentage Change</option>
                        <option value="rel-change">Fold Change in Volume (currentSize - day1Size) / day1Size</option>
                    </select>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Download plot as a png" aria-label="Left Align">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Zoom in" aria-label="Left Align">
                                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Zoom out" aria-label="Left Align">
                                <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Reset axes" aria-label="Left Align">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
            </div>

            <div id="waterfall-plot" class="plot-container" style="height: 600px"></div>
            
            <!-- TGI PLOT SECTION -->
            <div class="section-header-1 text-left" name="tgi-plot">
                &nbsp;&nbsp;<b>TGI (TUMOR GROWTH INHIBITION) PLOT</b>
                &nbsp;&nbsp;
                <a href="http://tumor.informatics.jax.org/mtbwi/live/www/html/SOCHelp.html#tgiPlot" target="_blank" class="white-smoke">
                    <span class="glyphicon glyphicon-question-sign faq-glyphicon" aria-hidden="true"></span>
                </a>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 text-right white-smoke-bg" style="padding: 10px; 0">
                    <form class="form-inline">
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-treatment-group-modebar" title="Download plot as a png" aria-label="Left Align">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
            </div>

            <div id="tgi-plot" class="plot-container" style="height: 600px;"></div>
            <!-- END TGI PLOT SECTION -->

            <script>
                $(function() {
                    var params = {
                        study: {{ study|tojson }},
                        treatments: {{ treatments|tojson }},
                        measurements: {{ measurements|tojson }},
                        animals: {{ animals|tojson }},
                        groupLabels: {{ group_labels|tojson }}
                    };
                    socstudy.initStudyData(params);
                });
            </script>
{% endblock %}
