{% extends "layout.html" %}

{% block title %}Study {{ study.curated_study_number }}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<form class="form-inline">
    <div class="form-group">
        <label for="waterfall-change-type-select">Y Axis: </label>
        <select id="waterfall-change-type-select" type="text" class="form-control">
            <option value="rel-vol">Relative Volume</option>
            <option value="rel-change">Fold Change in Volume (currentSize - day1Size) / day1Size</option>
        </select>
    </div>
</form>
<div id="waterfall-plot" style="width: 1000px; height: 600px"></div>
<hr>

<form class="form-inline">
    <div class="form-group">
        <label for="treatment-group-change-type-select">Y Axis: </label>
        <select id="treatment-group-change-type-select" type="text" class="form-control">
            <option value="abs-vol">Absolute Volume</option>
            <option value="rel-change">Fold Change in Volume (currentSize - day1Size) / day1Size</option>
        </select>
    </div>
</form>
<div id="treatment-group-plot" style="width: 1000px; height: 600px"></div>
<hr>

<div id="spider-plot" style="width: 1000px; height: 600px"></div>
<hr>

<div id="tgi-plot" style="width: 1000px; height: 720px"></div>

<script>
    $(function() {
        var treatGrpChgTypeSel = $('#treatment-group-change-type-select');
        var waterfallChgTypeSel = $('#waterfall-change-type-select');

        var study = {{ study|tojson }};
        var treatments = {{ treatments|tojson }};
        var measurements = {{ measurements|tojson }};
        var animals = {{ animals|tojson }};
        var groupLabels = {{ group_labels|tojson }};

        var groupMap = {};
        var groups = [];
        var animalMap = {};
        animals.forEach(function(animal) {
            animal.measurements = [];
            animal.treatments = [];

            var grpName = animal['group_name'];
            var animalName = animal['animal_name'];
            if(typeof(groupMap[grpName]) === 'undefined') {
                var group = {
                    color: null,
                    doseActivities: [],
                    doseUnits: [],
                    doseAmounts: [],
                    isControl: 0,
                    uniqTreatDays: [],
                    uniqMeasureDays: [],
                    animals: [],
                    groupName: grpName,
                    groupLabel: null
                };
                groupMap[grpName] = group;
                groups.push(group);
            }

            groupMap[grpName].animals.push(animal);
            animalMap[animalName] = animal;
        });
        groups.sort(function(g1, g2) {
            return g1.groupName.localeCompare(g2.groupName);
        });

        measurements.forEach(function(measurement) {
            var grpName = measurement['group_name'];
            var animalName = measurement['animal_name'];
            var grp = groupMap[grpName];
            var day = measurement['measurement_day'];
            insertUnique(grp.uniqMeasureDays, day);
            animalMap[animalName].measurements.push(measurement);
        });
        treatments.forEach(function(treatment) {
            var grpName = treatment['group_name'];
            var animalName = treatment['animal_name'];
            var grp = groupMap[grpName];
            var day = treatment['treatment_day'];
            insertUnique(grp.uniqTreatDays, day);
            insertUnique(grp.doseActivities, treatment['dose_activity'], compareBasic);
            insertUnique(grp.doseUnits, treatment['administration_route_units'], compareBasic);
            insertUnique(grp.doseAmounts, treatment['test_material_amount']);
            animalMap[animalName].treatments.push(treatment);
        });

        $.each(groupMap, function(grpName, group) {
            group.nearStartMeasIdx = findNearestMeasureDayIdx(group.uniqMeasureDays, 0);
            group.nearEndMeasIdx = 
                findNearestMeasureDayIdx(group.uniqMeasureDays, group.uniqMeasureDays[group.uniqMeasureDays.length - 1]);
            group.nearStartMeasDay = group.uniqMeasureDays[group.nearStartMeasIdx];
            group.nearEndMeasDay = group.uniqMeasureDays[group.nearEndMeasIdx];
            
            for(var i = 0; i < groupLabels.length; i++) {
                if((groupLabels[i].group_name === group.groupName)) {
                    if(groupLabels[i].curated_group_name !== '') {
                        group.groupLabel = groupLabels[i].curated_group_name;
				    } else {
                        group.groupLabel = 
                            group.doseActivities.join(', ') + 
                            ' (' + group.doseAmounts.join(', ') + ' ' + group.doseUnits.join(', ') + ')';
                    }
					
					if(groupLabels[i].is_control === 1) group.isControl = 1;
                    if(groupLabels[i].color !== null) group.color = groupLabels[i].color;
                }
            }
        });
        
		// place the control group at the first position
		var controlIndex = 0;
        for(var i = 0; i < groups.length; i++) { 
            if(groups[i].isControl === 1) {
                controlIndex = i;
            }
        }
		groups.splice(0, 0, groups[controlIndex]);
        groups.splice(controlIndex+1, 1);
        
        groups.forEach(function(group, i) {
            group.index = i;
        });
        
        animals.forEach(function(animal) {
            var grpName = animal['group_name'];
            var grp = groupMap[grpName];

            var measStart = null;
            var measEnd = null;
            animal.measurements.forEach(function(measurement) {
                if(measurement.measurement_day === grp.nearStartMeasDay) {
                    measStart = measurement;
                }
                if(measurement.measurement_day === grp.nearEndMeasDay) {
                    measEnd = measurement;
                }
            });

            if(measEnd === null && animal.measurements.length) {
                var lastMeas = animal.measurements[animal.measurements.length - 1];
                if(lastMeas.measurement_day < grp.nearEndMeasDay) {
                    // indicates that the animal died early
                    // TODO add some visual indication for these animals
                    measEnd = lastMeas;
                }
            }

            if(measStart === null || measEnd === null) {
                console.error('bad measurement for animal: ' + animal.animal_name);
            }
            animal.start_day_measurement = measStart;
            animal.end_day_measurement = measEnd;
            animal.measurement_diff = measEnd.measurement_value - measStart.measurement_value;
            animal.measurement_fold_change = animal.measurement_diff / measStart.measurement_value;
        });

        var waterfallPlotNode = document.getElementById('waterfall-plot');
        var waterfallPlot = new WaterfallPlot(waterfallPlotNode);
        waterfallChgTypeSel.change(function() {
            waterfallPlot.renderPlot(waterfallChgTypeSel.val(), animals, groups, study);
        });
        waterfallPlot.renderPlot(waterfallChgTypeSel.val(), animals, groups, study);

        var spiderPlotNode = document.getElementById('spider-plot');
        var spiderPlot = new SpiderPlot(spiderPlotNode);
        spiderPlot.renderPlot(animals, groupMap, study);

        var treatmentGroupPlotNode = document.getElementById('treatment-group-plot');
        var treatmentGroupPlot = new TreatmentGroupPlot(treatmentGroupPlotNode);
        treatGrpChgTypeSel.change(function() {
            treatmentGroupPlot.renderPlot(treatGrpChgTypeSel.val(), measurements, treatments, groups, study);
        });
        treatmentGroupPlot.renderPlot(treatGrpChgTypeSel.val(), measurements, treatments, groups, study);

        var tgiPlotNode = document.getElementById('tgi-plot');
        var tgiPlot = new TGIPlot(tgiPlotNode);
        tgiPlot.renderPlot(groups, study);
    });
</script>
{% endblock %}
