/* ======================= GENERIC CLASSES ======================= */

.dark-cerulean { 
    color: #05396B; 
}

.white-smoke { 
    color: #F8F8F8; 
}

a.white-smoke:focus, a.white-smoke:hover {
    color: #F8F8F8;
}	

/* background colors */
/* naming convention source - http://www.color-blindness.com/color-name-hue/ */
.white-smoke-bg {
    background-color: #F8F8F8;
}

/* ======================= APPLICATION SPECIFIC ======================= */
body {
    font-family: arial, helvetica;
    font-size: 1.4em;
}

a {
    outline: 0 !important;
}

div.section-header-1 {
    font-size: 0.9em;
    background-color: #05396B; /* JAX blue */
    color: #FFFFFF;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.faq-glyphicon {
    top: 2px;
}

/* ======================= ELEMENT SPECIFIC ======================= */

/* make the spider plot legend non-clickable */
[id=spider-plot] .legend .traces .legendtoggle {
    display: none;
}

[id=spider-plot] .legend .traces .legendtext {
    cursor: default;
}
/* END make the spider plot legend non-clickable */

/* make the waterfall plot legend non-clickable */
[id=treatment-group-plot] .legend .traces .legendtoggle {
    display: none;
}

[id=treatment-group-plot] .legend .traces .legendtext {
    cursor: default;
}
/* END make the waterfall plot legend non-clickable */

/* make the waterfall plot legend non-clickable */
[id=waterfall-plot] .legend .traces .legendtoggle {
    display: none;
}

[id=waterfall-plot] .legend .traces .legendtext {
    cursor: default;
}
/* END make the waterfall plot legend non-clickable */

/* make the TGI plot legend non-clickable */
[id=tgi-plot] .legend .traces .legendtoggle {
    display: none;
}

[id=tgi-plot] .legend .traces .legendtext {
    cursor: default;
}
/* END make the TGI plot legend non-clickable */


/* ---------- RECIST Section ---------- */
.recist {
    width: 100%;
	border: 1px solid black;
	font-size: 1.0em;
}

.recist th, td {
    padding: 2px 5px;
	border: 1px solid black;
}

.recist th {
    background-color: #F8F8F8;
}

/* ---------- Plot Anchor Links ---------- */
.plot-buttons {
	background-image: url("../img/thumbnail_plot1.png");
	height: 180px;
	background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.plot-buttons:hover {
    background-color: #F8F8F8;
}

.plot-buttons div {
	font-size: 1.3em;
    opacity: 0.8;
    background-color: #002D72;
    color: #FFFFFF;
	padding: 10px 0;
    width: 99%;
    margin: 0 auto;
}

.plot-buttons div a.div-fill {
    display: block;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.plot-buttons div a.div-fill:hover {
    color: #FFFFFF;
	text-decoration: none;
}


div[class~=plot-container] {
    width: 800px;
    height: 600px; 
    margin: 0 auto;
    margin-bottom: 50px;
}

.modebar-group {
    visibility: hidden;
}

.btn-controls-modebar {
    width: 150px; 
    font-size:0.8em;
}

@media (min-width: 768px) {
    
}